[submodule "corsa-reth"]
	path = corsa-reth
	url = git@github.com:OnCorsa/corsa-reth.git
[submodule "hyperstate-testnet-faucet"]
	path = hyperstate-testnet-faucet
	url = git@github.com:OnCorsa/hyperstate-testnet-faucet.git
[submodule "hyperstate-enclave"]
	path = hyperstate-enclave
	url = git@github.com:OnCorsa/hyperstate-enclave.git
[submodule "hyperstate-indexer"]
	path = hyperstate-indexer
	url = git@github.com:OnCorsa/hyperstate-indexer.git
[submodule "hyperstate-utxos"]
	path = hyperstate-utxos
	url = git@github.com:OnCorsa/hyperstate-utxos.git
[submodule "bitcoin-tx-queue"]
	path = bitcoin-tx-queue
	url = git@github.com:OnCorsa/bitcoin-tx-queue.git
