[submodule "sova-reth"]
	path = sova-reth
	url = git@github.com:SovaNetwork/sova-reth.git
[submodule "testnet-faucet"]
	path = testnet-faucet
	url = git@github.com:SovaNetwork/testnet-faucet.git
[submodule "network-enclave"]
	path = network-enclave
	url = git@github.com:SovaNetwork/network-enclave.git
[submodule "btc-broadcast-service"]
	path = btc-broadcast-service
	url = git@github.com:SovaNetwork/btc-broadcast-service.git
[submodule "utxo-tracing"]
	path = utxo-tracing
	url = git@github.com:SovaNetwork/utxo-tracing.git
