# Update when restarting the indexer, so duplicate data is not written to the database
# The start block is inclusive, meaning that block will be reindexed and data will be added to the database
INDEXER_START_BLOCK=0

# Use the private key of the whale allocation in the network genesis file
FAUCET_PRIVATE_KEY=your_private_key_here