RUST_LOG=debug

### Bitcoin ###

NETWORK=regtest
RPC_PORT=18443
RPC_USER=user
RPC_PASSWORD=password

### Bitcoin Indexer ###

# Update when restarting the indexer, so duplicate data is not written to the database
# The start block is inclusive, meaning that block will be reindexed and data will be added to the database
INDEXER_START_BLOCK=0
# Polling rate in milliseconds
INDEXER_POLLING_RATE=500
# Block batch size when syncing
INDEXER_MAX_BLOCKS=1000
INDEXER_SHARED_API_KEY=indexer_api_key_here

### Sova Signing Service ###

BIP32_SEED=000102030405060708090a0b0c0d0e0f
ENCLAVE_SHARED_API_KEY=api_key_here

SOVA_DERIVATION_XPUB=tpubDBniRdE6LfcDtFKxAFsDsYPu88JZxWNQ5JRKxHpwjZihrSTtVhiEYai2W9Jw6uF7X3BgVCxD8vN2x1qKUfq9Bpi3LkJFvw6jweEMXonoKMb

### Sova Bitcoin Sync Service ###

ADMIN_SOVA_SYNC_PRIVATE_KEY=0x1234...

### OP Accounts ###

# Admin account
export ADMIN_ADDRESS=0x36aD5A4E83A9a3a1E4504b7a886fc0A71fd60BF6
export ADMIN_PRIVATE_KEY=0x1234...

# Batcher account
export BATCHER_ADDRESS=0xaB9A78B755B2550bd570352A1E54ebC15B49cd5B
export BATCHER_PRIVATE_KEY=0x1234...

# Proposer account
export PROPOSER_ADDRESS=0x9b454B3e1A0b1f4A0eD94264D73a9a72E876e9ea
export PROPOSER_PRIVATE_KEY=0x1234...

# Sequencer account
export SEQUENCER_ADDRESS=0xE77e572BA01d62077eDB576638C358B8731deb7D
export SEQUENCER_PRIVATE_KEY=0x1234...

### OP Spec ###

ALCHEMY_L1_RPC_URL=https://eth-sepolia.g.alchemy.com/v2/<your-api-key>
L1_BEACON_URL=https://ethereum-sepolia-beacon-api.publicnode.com

DISPUTE_GAME_FACTORY_ADDRESS=0x73cf1ce62a8090118757ee30943659d2551a11a1 # `op-deployer inspect l1 --workdir .deployer 120893`
DISPUTE_GAME_TYPE=1 # The value of 1 is for permissioned dispute games

### OP MISC ###

BITCOIN_NODE=172.18.0.3
SEQUENCER=172.18.0.7

SEQUENCER_RETH_STATIC_PEERS=enode://395840abac428abd2c67b67562611475e24ad8e08a73c101e0dd6ca2cca9c693d3e3e7aaa6debb3d62e67246700d32b941c1e51274fd340f5fb6373383b07f11@172.18.0.7:30303
SEQUENCER_OP_STATIC_PEERS=/ip4/172.18.0.8/tcp/9222/p2p/16Uiu2HAmHZSwVonwwSmG4rYqBwdt2864MJntrxwj9Cu2rtPqxnmD