RUST_LOG=debug

### Bitcoin ###

NETWORK=regtest
RPC_PORT=18443
RPC_USER=user
RPC_PASSWORD=password

### Bitcoin Indexer ###

# Update when restarting the indexer, so duplicate data is not written to the database
# The start block is inclusive, meaning that block will be reindexed and data will be added to the database
INDEXER_START_BLOCK=0
# Polling rate in milliseconds
INDEXER_POLLING_RATE=500
# Block batch size when syncing
INDEXER_MAX_BLOCKS=1000
INDEXER_SHARED_API_KEY=indexer_api_key_here

### Sova Signing Service ###

BIP32_SEED=000102030405060708090a0b0c0d0e0f
ENCLAVE_SHARED_API_KEY=api_key_here

SOVA_DERIVATION_XPUB=tpubDBniRdE6LfcDtFKxAFsDsYPu88JZxWNQ5JRKxHpwjZihrSTtVhiEYai2W9Jw6uF7X3BgVCxD8vN2x1qKUfq9Bpi3LkJFvw6jweEMXonoKMb

### OP Accounts ###

# Admin account
export ADMIN_ADDRESS=0x36aD5A4E83A9a3a1E4504b7a886fc0A71fd60BF6
export ADMIN_PRIVATE_KEY=0x1234...

# Batcher account
export BATCHER_ADDRESS=0xaB9A78B755B2550bd570352A1E54ebC15B49cd5B
export BATCHER_PRIVATE_KEY=0x1234...

# Proposer account
export PROPOSER_ADDRESS=0x9b454B3e1A0b1f4A0eD94264D73a9a72E876e9ea
export PROPOSER_PRIVATE_KEY=0x1234...

# Sequencer account
export SEQUENCER_ADDRESS=0xE77e572BA01d62077eDB576638C358B8731deb7D
export SEQUENCER_PRIVATE_KEY=0x1234...

### OP Spec ###

ALCHEMY_L1_RPC_URL=https://eth-sepolia.g.alchemy.com/v2/<your-api-key>
L1_BEACON_URL=https://ethereum-sepolia-beacon-api.publicnode.com

DISPUTE_GAME_FACTORY_ADDRESS=0x73cf1ce62a8090118757ee30943659d2551a11a1 # `op-deployer inspect l1 --workdir .deployer 120893`
DISPUTE_GAME_TYPE=1 # The value of 1 is for permissioned dispute games

### OP MISC ###

SEQUENCER=sova-op-testnet-sequencer-sova-reth-1
BITCOIN_NODE=sova-op-testnet-sequencer-bitcoin-regtest-1

SEQUENCER_BOOTNODE=enode://d0f8b1c3e2f5c6a7b4e8c9d0e1f2a3b4c5d6e7f8g9h0i1j2k3l4m5n6o7p8q9r0s1t2u3v4w5x6y7z8@
SEQUENCER_P2P_BOOTNODE=enr:-J64QMmw0hMfH8CkO8QMc_QevNecqe7RNkIJZtMtE4MgvAj0VkUr4Js8fAootsuv4cLAdxb4FSP4F1AY7dkuPSXOy86GAZf6BSAfgmlkgnY0gmlwhBLa4fWHb3BN6xmAiQyVVQJYVCclMu7UCjw6NjM5RSk1d-DdGNwgiQGg3VkcIIkBg